In [1]:
import pandas as pd
from copy import deepcopy

In [48]:
data_1 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\Wagon-etk800.csv")

data_2 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\Wagon-LegranSE.csv")

data_3 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\Wagon-Marshall.csv")

data_4 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\Wagon-Roamer4WD.csv")

data_5 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\Wagon-Wagon.csv")

In [3]:
def nearmiss_to_False(dataframe, index_list):
    for index in index_list:
        dataframe.loc[index, 'outcome'] = False
    
    return dataframe

def scenario4_exit_to_4(dataframe, index_list):
    for index in index_list:
        dataframe.loc[index, 'Exit'] = True
        dataframe.loc[index, 'Exit_point'] = 4
    
    return dataframe

def scenario4_entrypoint_to_2(dataframe, index_list):
    for index in index_list:
        dataframe.loc[index, 'Entry'] = True
        dataframe.loc[index, 'Entry_point'] = 2
    
    return dataframe

def scenario5_exit_to_1(dataframe, index_list):
    for index in index_list:
        dataframe.loc[index, 'Exit'] = True
        dataframe.loc[index, 'Exit_point'] = 1
    
    return dataframe

## Data 1

In [49]:
data_1

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,1606.0,739.0,2123.0,2.0,0.0,0.0,0.0,True,3,False,NaN,CR-1,True
1,0.0,3.0,152.0,12505.0,12.0,0.0,0.0,0.0,True,3,True,1.0,CR-1,True
2,0.0,1360.0,715.0,2143.0,5.0,0.0,0.0,0.0,True,3,False,NaN,CR-2,True
3,0.0,3.0,157.0,12706.0,17.0,0.0,0.0,0.0,True,3,True,1.0,CR-2,True
4,0.0,1232.0,672.0,2133.0,2.0,0.0,0.0,0.0,True,3,False,NaN,CR-3,True
5,0.0,1.0,43.0,8688.0,17.0,1.0,0.0,0.0,True,3,True,1.0,CR-3,True
6,0.0,1417.0,394.0,2025.0,2.0,0.0,0.0,0.0,True,3,True,4.0,CR-4,True
7,0.0,2.0,79.0,6121.0,6.0,0.0,0.0,7.0,True,3,False,NaN,CR-4,True
8,0.0,1344.0,604.0,2134.0,2.0,0.0,0.0,0.0,True,3,False,NaN,CR-5,True
9,0.0,2.0,58.0,8224.0,12.0,0.0,0.0,2.0,True,3,True,1.0,CR-5,True
10,0.0,2.0,129.0,2616.0,6.0,0.0,0.0,1.0,True,3,False,NaN,CR-6,True
11,0.0,2.0,190.0,4038.0,17.0,0.0,0.0,1.0,True,3,False,NaN,CR-6,True
12,0.0,9.0,98.0,2665.0,24.0,2.0,1.0,2.0,True,3,False,NaN,CR-7,True
13,0.0,2.0,38.0,5391.0,30.0,2.0,2.0,14.0,True,3,False,NaN,CR-7,True

In [ ]:
# data_1.loc[20, "Exit_point"] = 4
# data_1.loc[20, "Exit"] = True
# 
# data_1.loc[22, "Exit_point"] = 4
# data_1.loc[22, "Exit"] = True
# 
# data_1.loc[24, "Exit_point"] = 4
# data_1.loc[24, "Exit"] = True
# 
# data_1

In [ ]:
# data_1.loc[8, "Exit"] = True
# data_1.loc[8, "Exit_point"] = 4
# data_1

In [ ]:
# data_1 = scenario4_entrypoint_to_2(data_1, [12, 14, 16, 18,20, 22])
# data_1 = scenario4_exit_to_4(data_1, [12, 14, 16, 18, 20, 22])
# data_1

In [ ]:
# data_1 = scenario4_exit_to_4(data_1, [8,10])
# data_1

## Data 2

In [50]:
data_2

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,1.0,117.0,2348.0,6.0,0.0,0.0,0.0,True,3,False,NaN,CR-1,True
1,0.0,0.0,4.0,5376.0,15.0,1.0,1.0,2.0,True,3,False,NaN,CR-1,True
2,0.0,2.0,255.0,2118.0,5.0,0.0,0.0,0.0,True,3,True,1.0,CR-2,True
3,0.0,4.0,734.0,5178.0,6.0,5.0,13.0,9.0,True,3,False,NaN,CR-2,True
4,0.0,1.0,95.0,2584.0,7.0,0.0,0.0,0.0,True,3,False,NaN,CR-3,True
5,0.0,1.0,37.0,5415.0,17.0,2.0,1.0,1.0,True,3,False,NaN,CR-3,True
6,0.0,1.0,111.0,2665.0,4.0,0.0,0.0,0.0,True,3,True,1.0,CR-4,True
7,0.0,15.0,267.0,5978.0,16.0,0.0,0.0,0.0,True,3,False,NaN,CR-4,True
8,1.0,145.0,186.0,1054.0,11.0,13.0,4.0,7.0,True,3,False,NaN,CR-5,True
9,0.0,6.0,299.0,4997.0,21.0,1.0,3.0,27.0,True,3,False,NaN,CR-5,True
10,0.0,135.0,169.0,1196.0,8.0,5.0,5.0,4.0,True,3,False,NaN,CR-6,True
11,0.0,2.0,43.0,3935.0,13.0,0.0,1.0,2.0,True,3,False,NaN,CR-6,True
12,0.0,90.0,139.0,1200.0,16.0,8.0,5.0,9.0,True,3,False,NaN,CR-7,True
13,0.0,1.0,10.0,4254.0,16.0,1.0,2.0,14.0,True,3,False,NaN,CR-7,True

In [ ]:
# data_2 = scenario5_exit_to_1(data_2, [11])
# data_2

In [225]:
# data_2 = scenario5_exit_to_1(data_2, [11])

In [ ]:
# data_2

In [ ]:
# data_2 = scenario4_entrypoint_to_2(data_2, [0, 12, 14, 16, 18, 20, 22])
# data_2 = scenario4_exit_to_4(data_2, [12, 14, 16, 18, 20, 22])
# data_2

### Note:

0,1 index is near miss

## Data 3

In [51]:
data_3

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,103.0,302.0,1453.0,4.0,0.0,1.0,0.0,True,3,False,NaN,CR-1,True
1,0.0,1.0,19.0,4451.0,15.0,1.0,1.0,1.0,True,3,False,NaN,CR-1,True
2,0.0,54.0,903.0,1456.0,2.0,0.0,0.0,1.0,True,3,False,NaN,CR-2,True
3,0.0,1.0,20.0,4813.0,20.0,3.0,1.0,1.0,True,3,False,NaN,CR-2,True
4,0.0,2.0,71.0,1704.0,11.0,1.0,1.0,2.0,True,3,False,NaN,CR-3,True
5,0.0,1.0,623.0,9051.0,22.0,0.0,0.0,0.0,True,3,True,1.0,CR-3,True
6,0.0,1.0,107.0,5259.0,6.0,0.0,0.0,0.0,True,3,True,1.0,CR-4,True
7,0.0,3.0,885.0,9393.0,14.0,0.0,0.0,0.0,True,3,True,1.0,CR-4,True
8,0.0,5.0,350.0,3397.0,2.0,0.0,0.0,0.0,True,3,True,1.0,CR-5,True
9,0.0,1.0,63.0,6914.0,9.0,0.0,0.0,1.0,True,3,False,NaN,CR-5,True
10,0.0,25.0,840.0,1895.0,7.0,1.0,0.0,1.0,True,3,False,NaN,CR-6,True
11,0.0,3.0,45.0,5831.0,72.0,2.0,0.0,6.0,True,3,False,NaN,CR-6,True
12,0.0,172.0,1112.0,1468.0,4.0,0.0,0.0,1.0,True,3,False,NaN,CR-7,True
13,0.0,0.0,40.0,4854.0,18.0,0.0,0.0,1.0,True,3,False,NaN,CR-7,True

In [ ]:
# data_3 = scenario5_exit_to_1(data_3, [11])
# data_3

In [ ]:
# data_3 = scenario5_exit_to_1(data_3, [9])
# data_3

In [ ]:
# data_3 = scenario4_entrypoint_to_2(data_3, [12, 14, 16, 18, 20, 22])
# data_3 = scenario4_exit_to_4(data_3, [12, 14, 16, 18, 20, 22])
# data_3

In [ ]:
# data_3 = scenario4_exit_to_4(data_3, [0,2,4,6,10])
# data_3

## Data 4

In [52]:
data_4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,808.0,608.0,1664.0,1.0,0.0,0.0,0.0,True,3,True,4.0,CR-1,True
1,0.0,10.0,266.0,5307.0,12.0,0.0,1.0,1.0,True,3,False,NaN,CR-1,True
2,0.0,71.0,670.0,1364.0,4.0,1.0,0.0,1.0,True,3,False,NaN,CR-2,True
3,0.0,1.0,110.0,4798.0,6.0,0.0,1.0,4.0,True,3,False,NaN,CR-2,True
4,0.0,70.0,368.0,1498.0,12.0,3.0,1.0,1.0,True,3,False,NaN,CR-3,True
5,0.0,5.0,112.0,4526.0,79.0,0.0,1.0,4.0,True,3,False,NaN,CR-3,True
6,0.0,2.0,122.0,2428.0,3.0,0.0,0.0,0.0,True,3,True,1.0,CR-4,True
7,0.0,4.0,97.0,5413.0,8.0,0.0,0.0,5.0,True,3,False,NaN,CR-4,True
8,0.0,11.0,609.0,1578.0,13.0,4.0,4.0,5.0,True,3,False,NaN,CR-5,True
9,0.0,1.0,73.0,5625.0,6.0,0.0,0.0,3.0,True,3,False,NaN,CR-5,True
10,0.0,1.0,80.0,3767.0,9.0,0.0,0.0,0.0,True,3,False,NaN,CR-6,True
11,0.0,2.0,369.0,4503.0,17.0,0.0,0.0,1.0,True,3,False,NaN,CR-6,True
12,0.0,1.0,91.0,1667.0,26.0,0.0,0.0,1.0,True,3,False,NaN,CR-7,True
13,0.0,10.0,623.0,8859.0,11.0,0.0,0.0,1.0,True,3,True,1.0,CR-7,True

In [ ]:
# data_4 = nearmiss_to_False(data_4, [0, 1, 2, 3, 4, 5])
# data_4

In [ ]:
# data_4 = scenario4_entrypoint_to_2(data_4, [12, 14, 16, 18, 20, 23])
# data_4 = scenario4_exit_to_4(data_4, [12, 14, 16, 18, 20, 23])
# data_4

In [ ]:
# data_4 = scenario4_exit_to_4(data_4, [4,6,8,10])
# data_4

## Data 5

In [53]:
data_5

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,2.0,102.0,1684.0,17.0,0.0,0.0,1.0,True,3,False,NaN,CR-1,True
1,0.0,18.0,466.0,7151.0,7.0,0.0,0.0,0.0,True,3,False,NaN,CR-1,True
2,0.0,2.0,146.0,1760.0,1.0,0.0,0.0,0.0,True,3,False,NaN,CR-2,True
3,0.0,11.0,520.0,4257.0,10.0,3.0,19.0,29.0,True,3,False,NaN,CR-2,True
4,0.0,10.0,1039.0,1807.0,3.0,0.0,0.0,0.0,True,3,False,NaN,CR-3,True
5,0.0,9.0,145.0,7133.0,14.0,0.0,0.0,1.0,True,3,False,NaN,CR-3,True
6,0.0,138.0,1091.0,1685.0,1.0,0.0,0.0,0.0,True,3,False,NaN,CR-4,True
7,0.0,8.0,263.0,10824.0,7.0,0.0,0.0,0.0,True,3,True,1.0,CR-4,True
8,0.0,983.0,399.0,1479.0,3.0,0.0,0.0,0.0,True,3,True,4.0,CR-5,True
9,0.0,5.0,62.0,10976.0,18.0,1.0,1.0,0.0,True,3,True,1.0,CR-5,True
10,0.0,155.0,1047.0,1633.0,1.0,0.0,0.0,0.0,True,3,False,NaN,CR-6,True
11,0.0,0.0,22.0,12552.0,17.0,1.0,0.0,0.0,True,3,True,1.0,CR-6,True
12,0.0,1.0,50.0,5435.0,2.0,0.0,0.0,0.0,True,3,True,1.0,CR-7,True
13,0.0,3.0,19.0,8303.0,11.0,2.0,11.0,50.0,True,3,True,1.0,CR-7,True

In [ ]:
# data_5 = scenario4_entrypoint_to_2(data_5, [0, 12,14, 16, 18, 20, 22])
# data_5 = scenario4_exit_to_4(data_5, [0, 12, 14, 16, 18, 20, 22])
# data_5

In [100]:
# data_5 = nearmiss_to_False(data_5, [2,3])

In [ ]:
# data_5.head(5)

In [217]:
# data_5.duplicated().sum()

0

In [218]:
# data_5.isna().sum()

bins_0_75      0
bins_1_75      0
bins_2_75      0
bins_3_75      0
bins_4_75      0
bins_5_75      0
bins_6_75      0
bins_7_75      0
Entry          0
Entry_point    0
Exit           0
Exit_point     1
path_label     0
outcome        0
dtype: int64

# Aggregating Batched Dataframe

In [54]:
d1 = deepcopy(data_1)
d2 = deepcopy(data_2)
d3 = deepcopy(data_3)
d4 = deepcopy(data_4)
d5 = deepcopy(data_5)

In [46]:
# test data
d3

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,422.0,493.0,1564.0,15.0,0.0,0.0,1.0,True,3,False,NaN,CR-1,True
1,0.0,5.0,64.0,6354.0,12.0,0.0,0.0,2.0,True,3,False,NaN,CR-1,True
2,0.0,186.0,465.0,1590.0,23.0,0.0,0.0,1.0,True,3,False,NaN,CR-2,True
3,0.0,4.0,46.0,6093.0,19.0,0.0,0.0,7.0,True,3,False,NaN,CR-2,True
4,0.0,8.0,502.0,1822.0,7.0,0.0,0.0,0.0,True,3,False,NaN,CR-3,True
5,0.0,6.0,56.0,4973.0,15.0,0.0,0.0,2.0,True,3,False,NaN,CR-3,True
6,0.0,2.0,154.0,1850.0,8.0,0.0,0.0,0.0,True,3,False,NaN,CR-4,True
7,0.0,8.0,990.0,2598.0,11.0,0.0,1.0,3.0,True,3,False,NaN,CR-4,True
8,0.0,736.0,173.0,1528.0,19.0,0.0,0.0,1.0,True,3,False,NaN,CR-5,True
9,0.0,3.0,195.0,7727.0,5.0,0.0,0.0,1.0,True,3,True,1.0,CR-5,True
10,0.0,6.0,418.0,1856.0,17.0,3.0,4.0,27.0,True,3,False,NaN,CR-6,True
11,0.0,7.0,50.0,6191.0,49.0,5.0,7.0,18.0,True,3,False,NaN,CR-6,True
12,0.0,3.0,154.0,1869.0,11.0,0.0,0.0,0.0,True,3,False,NaN,CR-7,True
13,0.0,15.0,396.0,4640.0,13.0,1.0,0.0,2.0,True,3,False,NaN,CR-7,True

In [55]:
combined_dataframe = pd.concat([d1, d2, d3, d4, d5])
# combined_dataframe = pd.concat([d1, d2, d3, d4])
combined_dataframe.reset_index(drop=True, inplace=True)
combined_dataframe

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0.0,1606.0,739.0,2123.0,2.0,0.0,0.0,0.0,True,3,False,NaN,CR-1,True
1,0.0,3.0,152.0,12505.0,12.0,0.0,0.0,0.0,True,3,True,1.0,CR-1,True
2,0.0,1360.0,715.0,2143.0,5.0,0.0,0.0,0.0,True,3,False,NaN,CR-2,True
3,0.0,3.0,157.0,12706.0,17.0,0.0,0.0,0.0,True,3,True,1.0,CR-2,True
4,0.0,1232.0,672.0,2133.0,2.0,0.0,0.0,0.0,True,3,False,NaN,CR-3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0.0,5.0,62.0,10976.0,18.0,1.0,1.0,0.0,True,3,True,1.0,CR-5,True
66,0.0,155.0,1047.0,1633.0,1.0,0.0,0.0,0.0,True,3,False,NaN,CR-6,True
67,0.0,0.0,22.0,12552.0,17.0,1.0,0.0,0.0,True,3,True,1.0,CR-6,True
68,0.0,1.0,50.0,5435.0,2.0,0.0,0.0,0.0,True,3,True,1.0,CR-7,True
69,0.0,3.0,19.0,8303.0,11.0,2.0,11.0,50.0,True,3,True,1.0,CR-7,True

## test exported file

In [83]:
# concated_df = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_1_wagon.csv")
# concated_df

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,True,2,True,4.0,40-30,True
1,1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,True,3,False,NaN,40-30,True
2,2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,True,2,True,4.0,42-30,True
3,3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,True,3,False,NaN,42-30,True
4,4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,True,2,True,4.0,44-32,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,173.0,126.0,2.0,3.0,1.0,1.0,1.0,21.0,True,2,True,4.0,NT-36-56,False
125,125,0.0,0.0,8.0,14568.0,8.0,0.0,1.0,1.0,True,3,True,1.0,NT-36-56,False
126,126,184.0,103.0,2.0,4.0,3.0,1.0,1.0,22.0,True,2,True,4.0,NT-38-58,False
127,127,0.0,0.0,2.0,15326.0,6.0,0.0,0.0,0.0,True,3,True,1.0,NT-38-58,False
128,128,201.0,120.0,2.0,4.0,3.0,1.0,1.0,23.0,True,2,True,4.0,NT-40-60,False

# Batch Check

In [129]:
batch = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch1_etk.csv")
batch

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0,1474.0,2001.0,3.0,3.0,2.0,0.0,0.0,24.0,True,2,True,4.0,34-39,True
1,1,3175.0,194.0,222.0,2307.0,4.0,0.0,0.0,0.0,True,3,True,4.0,34-39,True
2,2,1695.0,2840.0,1.0,0.0,1.0,0.0,0.0,18.0,True,2,True,4.0,34-41,True
3,3,1450.0,3775.0,370.0,2886.0,0.0,0.0,0.0,0.0,True,3,True,4.0,34-41,True
4,4,1342.0,1205.0,37.0,1.0,1.0,0.0,1.0,40.0,True,2,False,NaN,34-43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,2780.0,288.0,411.0,2233.0,7.0,0.0,1.0,1.0,True,3,True,4.0,NT-55-32,False
116,116,4811.0,8.0,1.0,1.0,2.0,0.0,1.0,58.0,True,4,False,NaN,NT-55-34,False
117,117,3198.0,349.0,444.0,2302.0,4.0,0.0,0.0,1.0,True,3,True,4.0,NT-55-34,False
118,118,4465.0,12.0,1.0,1.0,2.0,0.0,1.0,60.0,True,4,False,NaN,NT-55-36,False
119,119,3986.0,404.0,361.0,2378.0,5.0,0.0,0.0,0.0,True,3,True,4.0,NT-55-36,False